 body {
    background-color: black;
} 

img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 300px;
}

img:hover {
    opacity: 1;
}

#img-0 {}

#img-1 {}

#img-2 {}

#img-3 {}

#img-4 {}

#img-5 {
    position: fixed;
    right: 0;
    top: 0;
}

#img-6 {}

#img-7 {
    position: absolute;
    right: 0;
}

